<h1>Allowed to edit.</h1>
<%= form_for(@employee) do |f| %>
    <h1>Original<%=@employee.first_name%></h1>
    <%= f.text_field :first_name %>
    <h1>Original<%=@employee.last_name%></h1>
    <%= f.text_field :last_name %>
    <h1>Original<%=@employee.alias%></h1>
    <%= f.text_field :alias %>
    <h1>Original<%=@employee.title%></h1>
    <%= f.text_field :title %>
    <h1>Original<%=@employee.office%></h1>
    <%= f.text_field :office %>
    <h1>Original<%=@employee.img_url%></h1>
    <%= f.text_field :img_url %>
   <h1>Edit the Dog:</h1>
   <%= f.collection_select :dog_id, @dogs, :id, :name %>
   
    <%= f.submit %>
  <% end %>