<div><%= @employee.first_name %> 
<%= @employee.last_name %></div><br>
<div><%= @employee.alias %></div><br>
<div><%= @employee.title %></div><br>
<div><%= @employee.office %></div><br>
<div><%= @employee.img_url %></div><br>