<h1>Dog Landing Page</h1>

<%= form_tag(dogs_path, method: "get") do %>
<%= hidden_field_tag(:sort, params[:sort]=true) %>
<%= submit_tag "Sort by Number of Owners" %>
<% end %>

<% @dogs.each do |dog| %>
    <h4><%= link_to " #{dog.id}. #{dog.name}", dog%><br></h4>
<% end %>

<footer><%= link_to "Employee Home", employees_path %> || <%= link_to "Pet Home", dogs_path %></footer>